In [2]:
import Chefboost as chef

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("../tests/dataset/restaurant.txt")

In [5]:
df.head()

  Alt Bar Fri Hun   Pat  Price Rain Res Type  Est Decision
0   T   F   F   T  Some      3    F   T    F    0        T
1   T   F   F   T  Full      1    F   F    T    3        F
2   F   T   F   F  Some      1    F   F    B    0        T
3   T   F   T   T  Full      1    F   F    T    1        T
4   T   F   T   F  Full      3    F   T    F    6        F

In [11]:
config = {'algorithm': 'ID3'}

In [12]:
model = chef.fit(df.copy(),config)

[INFO]:  4 CPU cores will be allocated in parallel running
ID3  tree is going to be built...
-------------------------
finished in  0.9105122089385986  seconds
-------------------------
Evaluate  train set
-------------------------
Accuracy:  100.0 % on  12  instances
Labels:  ['T' 'F']
Confusion matrix:  [[6, 0], [0, 6]]
Precision:  100.0 %, Recall:  100.0 %, F1:  100.0 %

In [8]:
df.iloc[11]

Alt            T
Bar            T
Fri            T
Hun            T
Pat         Full
Price          1
Rain           F
Res            F
Type           B
Est            3
Decision       T
Name: 11, dtype: object

In [22]:
print(df.get_log(11))

AttributeError: 'DataFrame' object has no attribute 'get_log'

In [16]:
for i, instance in df.iterrows():
    prediction = chef.predict(model,instance)
    actual = instance['Decision']
    
    print(instance)

Alt            T
Bar            F
Fri            F
Hun            T
Pat         Some
Price          3
Rain           F
Res            T
Type           F
Est            0
Decision       T
Name: 0, dtype: object
Alt            T
Bar            F
Fri            F
Hun            T
Pat         Full
Price          1
Rain           F
Res            F
Type           T
Est            3
Decision       F
Name: 1, dtype: object
Alt            F
Bar            T
Fri            F
Hun            F
Pat         Some
Price          1
Rain           F
Res            F
Type           B
Est            0
Decision       T
Name: 2, dtype: object
Alt            T
Bar            F
Fri            T
Hun            T
Pat         Full
Price          1
Rain           F
Res            F
Type           T
Est            1
Decision       T
Name: 3, dtype: object
Alt            T
Bar            F
Fri            T
Hun            F
Pat         Full
Price          3
Rain           F
Res            T
Type           F
Est            6
Decision       F
Name: 4, dtype: object
Alt            F
Bar            T
Fri            F
Hun            T
Pat         Some
Price          2
Rain           T
Res            T
Type           I
Est            0
Decision       T
Name: 5, dtype: object
Alt            F
Bar            T
Fri            F
Hun            F
Pat         None
Price          1
Rain           T
Res            F
Type           B
Est            0
Decision       F
Name: 6, dtype: object
Alt            F
Bar            F
Fri            F
Hun            T
Pat         Some
Price          2
Rain           T
Res            T
Type           T
Est            0
Decision       T
Name: 7, dtype: object
Alt            F
Bar            T
Fri            T
Hun            F
Pat         Full
Price          1
Rain           T
Res            F
Type           B
Est            6
Decision       F
Name: 8, dtype: object
Alt            T
Bar            T
Fri            T
Hun            T
Pat         Full
Price          3
Rain           F
Res            T
Type           I
Est            1
Decision       F
Name: 9, dtype: object
Alt            F
Bar            F
Fri            F
Hun            F
Pat         None
Price          1
Rain           F
Res            F
Type           T
Est            0
Decision       F
Name: 10, dtype: object
Alt            T
Bar            T
Fri            T
Hun            T
Pat         Full
Price          1
Rain           F
Res            F
Type           B
Est            3
Decision       T
Name: 11, dtype: object

In [18]:
test = {'Alt':'T','Bar':'F'}

In [20]:
print(test)

AttributeError: 'dict' object has no attribute 'iloc'

In [ ]:
test